{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieBox</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
</head>
<body>
{% include 'navbar.html' %}

<main>
    <p class="text-main text-center pe-4">
        Bem-vindo ao MovieBox!
        Aqui você pode encontrar informações sobre filmes e séries.
        Também pode registar os seus filmes e séries favoritos.
    </p>
</main>
</body>
</html>