<div class="card col-3">
    <div class="card-body">
        <h1 class="fs-5">{{ movie.title }}</h1>
        <h2 class="fs-6">{{ movie.genre }}</h2>
        <h2 class="fs-6">{{ movie.year }}</h2>
        {% if not detail %}
            <a href="{% url 'movie-detail' pk=movie.pk %}">
                <i class="bi bi-eye me-2"></i>
                Ver Filme
            </a>
            <br/>
        {% endif %}
        <a href="{% url 'movie-update' pk=movie.pk %}">
            <i class="bi bi-pencil me-2"></i>
            Editar Filme
        </a>
        <br/>
        <a href="{% url 'movie-delete' pk=movie.pk %}">
            <i class="bi bi-trash me-2"></i>
            Apagar Filme
        </a>
    </div>
</div>