{% extends 'base.html' %}

{% block title %}{{ block.super }} - {{ title }}{% endblock title %}

{% block content %}
    <h5>{{ title }}</h5>
    <form class="bg-secondary p-2" method="GET" action="">
        <select class="form-control" name="genre">
            <option value="">---</option>
            {% for genre in genres %}
                <option>{{ genre }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success my-2">Filter Movies</button>
    </form>
    <div class="row gap-1 mt-2">
        {% for object in movies %}
            {% include 'movie_card.html' with movie=object %}
        {% endfor %}
    </div>
{% endblock content %}